<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock title %}
{% block content %}
<h1>Смена пароля</h1>
<p>Пожалуйста, введите свой старый пароль, в целях безопасности, а затем введите
    ваш новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Изменить мой пароль">
</form>
{% endblock content %}