{% load shop_extras %}

<div class="col">
    <div class="card shadow-sm h-100">
      <a href="{{ product.get_absolute_url }}">
        <img src="{{ product.get_image_url }}" class="card-img-top" alt="{{ product.name }}" height="225">
      </a>
      <div class="card-body text-center">
        <div class="card-text"><small>{% show_avg_rating product %}</small></div>
        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center align-items-end">
            <div class="btn-group">
              <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">В корзину</a>
            </div>
          </div>
      </div>
    </div>
  </div>