{% load shop_extras %}

<style>
  .card {
    width: 250px;
  }
  .card-header {
    border: none;
    height: 250px;
    width: 250px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
</style>

<div class="col">
    <div class="card shadow-sm h-100">
      <div class="card-header bg-white" style="background-image: url({{ product.get_image_url }});">
        <a href="{{ product.get_absolute_url }}" class="d-block h-100"></a>
      </div>
      <div class="card-body text-center">
        <div class="card-text"><small>{% show_avg_rating product %}</small></div>
        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center align-items-end">
            <div class="btn-group">
              <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">В корзину</a>
            </div>
          </div>
      </div>
    </div>
  </div>