{% extends 'base.html' %}
{% block title %}Orders{% endblock title %}
{% block content %}

<h2>Заказы</h2>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Номер заказа</td>
                        <td>Статус</td>
                        <td>Сумма</td>
                    </tr>
                </thead>
                {% for order in object_list %}
                <tr>
                    <td><a href="{{ order.get_absolute_url }}">Заказ №{{ order.id }}</a></td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.get_total_price }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}